.sul{
    margin-left: 5%;
    width: 500px;
    display: inline-block;
}
.contain1{
margin-left: 30%;
}
.content1 form input{
    
    
    background-color: #fff;
   
    height: 31px;
    padding: 2px 5px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    color: #111;
    font-size: 13px;
    :focus{
        border-color: #e77600;
        box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
    }

    
}
.button1{
    margin-left: 8%;
    border-radius: 15%;
   color: #45a049;
}
h3{
    margin-left: 35%;
}
img .ig{
 margin-right: 25%;

    margin-top: 1%;
    display: inline-block;
}
.l{
    margin-left: 30%;
}
